#contact {
	background-color: var(--color-bg-80);
	backdrop-filter: blur(8px);
	color: var(--text-light);
	padding: var(--spacing-l) var(--spacing-l) 45px;
	border-radius: 6px;
	align-self: center;
	margin: 0 auto;
}

#contact header {
	text-align: center;
}

#contact header h2 {
	font-size: 2.25rem;
	color: var(--color-pink);
	text-shadow: 0 0 15px #ffb7c580;
}

#contact .divider {
	height: 4px;
	border-radius: 3px;
	background-color: var(--color-pink);
	margin: 10px auto 25px;
	width: 10%;
}

#contact .contact-wrapper {
	display: grid;
	grid-template-areas: 
	"form address"
	"form hours";
	gap: var(--spacing-l);
}

.contact-wrapper > * {
	background-color: var(--color-bg-0);
	border-radius: 6px;
	padding: var(--spacing-l);
}

.contact-wrapper .contact-form {
	grid-area: form;
	display: grid;
	gap: 22px;
	width: 400px;
}

.contact-form .form-control {
	display: grid;
}

.form-control input,
.form-control textarea {
	background-color: inherit;
	outline: none;
	border: 1px solid var(--color-pink);
	border-radius: 6px;
	padding: 8px;
}

.form-control > *::placeholder {
	font-style: italic;
}

.form-control textarea {
	resize: none;
	height: 100px;
}

.form-control input:user-valid,
.form-control textarea:user-valid {
	border: 1px solid #22c55e;
}

.form-control input:user-invalid,
.form-control textarea:user-invalid {
	border: 1px solid #ef4444;
}

.contact-form button {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	width: 75%;
	gap: 6px;
	background-color: #ffb7c5dd;
	padding: 4px var(--spacing-l);
	border-radius: 6px;
	color: var(--text-dark);
	transition: var(--transition);
	font-weight: 600;
	font-size: 1.025rem;
}

.contact-form button:hover {
	background-color: var(--color-pink);
}

.contact-form button svg {
	transition: var(--transition);
}

.contact-form button:hover svg {
	transform: translateX(5px);
}

#contact .contact-wrapper svg {
	height: 26px;
	width: 26px;
	fill: currentColor;
}

.contact-wrapper .contact-address {
	grid-area: address;
}

.contact-address h3,
.contact-hours h3 {
	font-style: normal;
	color: var(--color-pink);
	text-shadow: 0 0 15px #ffb7c580;
	margin-bottom: 20px;
}

.contact-address address ul,
.contact-hours ul {
	display: grid;
	gap: var(--spacing-m);
}

.contact-address address ul li {
	display: flex;
	align-items: center;
	gap: var(--spacing-s);
}

.contact-wrapper .contact-hours {
	grid-area: hours;
}
