*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

li {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

img, svg {
	display: block;
	max-width: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}