:root {
	--transition: all 0.3s ease-in-out;
	--shadow: 2px 4px 8px #00000033;
	--text-light: #d1d5db;
	--text-dark: #1f2937;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 22px;
	--border-radius: 6px;
	--color-bg-80: #0A0A0ACC;
	--color-bg-0: #0A0A0A;
	--color-pink: #ffb7c5;
	--blur: blur(8px);
}

@font-face {
	font-family: Main;
	src: url(../assets/fonts/MPLUS-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Accent;
	src: url(../assets/fonts/Akisa-PersonalUse.otf) format("opentype");
}

body {
	font-family: Main, "Helvetica", sans-serif;
	position: relative;
	background-color: var(--color-pink);
}

body::before {
	content: "";
	background: url(../assets/images/background.jpg) center no-repeat;
	background-size: cover;
	position: absolute;
	inset: 0;
	opacity: 0.75;
	z-index: -1;
}

.header,
.footer {
	color: var(--text-light);
	display: flex;
}

.header {
	padding: var(--spacing-m) var(--spacing-l);
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-bg-80);
	backdrop-filter: var(--blur);
	box-shadow: 0 4px 8px #00000055;
	transition: var(--transition);
}

.header:has(button:hover) {
	background-color: var(--color-bg-0);
}

.header h1 {
	font-family: Accent;
	font-size: clamp(1.5rem, 3vw, 2.25rem);
}

.navbar {
	display: flex;
	gap: 52px;
}

.navbar button {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--text-light);
	border-bottom: 2px solid transparent;
	transition: var(--transition);
}

.navbar button:hover {
	border-bottom: 2px solid var(--color-pink);
}

.container {
	padding: 50px 7% 100px;
	min-height: 100dvh;
}

.footer {
	background-color: var(--color-bg-0);
	padding: var(--spacing-l);
	display: grid;
	grid-template: auto auto / repeat(3, auto);
	justify-content: space-evenly;
}

.footer .footer-section h3 {
	margin-bottom: 12px;
}

.footer .footer-section.subscription {
	min-width: 300px
}

.footer .footer-section ul {
	display: grid;
	gap: 6px;
}

.footer-section #newsletter {
	display: grid;
	gap: var(--spacing-s);
	margin-bottom: var(--spacing-l);
}

.footer-section #newsletter input {
	padding: 6px;
	border-radius: var(--border-radius);
	outline: none;
	border: 1px solid transparent;
	background-color: var(--text-light);
	color: var(--text-dark);
}

.footer-section #newsletter input:active,
.footer-section #newsletter input:focus,
.footer-section #newsletter input:focus-visible {
	box-shadow: 0 0 8px 2px orangered;
}

.footer-section #newsletter button {
	background-color: #ffb7c5dd;
	color: var(--text-dark);
	padding: 6px var(--spacing-m);
	border-radius: var(--border-radius);
	transition: var(--transition);
	font-weight: 600;
}

.footer-section #newsletter button:hover {
	background-color: var(--color-pink);
}

.footer-section .socials {
	display: flex;
	justify-content: space-around;
}

.footer-section .socials svg {
	height: 34px;
	width: 34px;
	fill: currentColor;
	transition: var(--transition);
}

.footer-section .socials a:hover svg {
	fill: var(--color-pink);
	transform: scale(1.08);
}

.footer .copyright {
	grid-column: span 3;
	text-align: center;
	border-top: 1px solid #696969;
	padding-top: var(--spacing-l);
	margin-top: var(--spacing-l);
}

.footer a:hover {
	color: var(--color-pink);
}